<!DOCTYPE html>
<html lang="en">
<%- include('./helpers/head.ejs') %>
<body class="">
    <%- include('./helpers/navbar.ejs') %>

    <main class="container mt-5 text-center">
        <h1>Gráficos de encuesta</h1>
        <p class="display-1 text-uppercase"><%=tipoAprendizaje%></p>
        <div class="m-auto w-50">
            <canvas class="m-auto w-100" id="grafico"></canvas>
        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const datos = {
        visual: <%=visual%>,
        auditivo: <%=auditivo%>,
        cinestesico: <%=cinestesico%>
        };

        const ctx = document.getElementById('grafico').getContext('2d');

        new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: Object.keys(datos),
            datasets: [{
            label: 'Repeticiones',
            data: Object.values(datos),
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)'
            ]
            }]
        },
        options: {
            responsive: true,
        }
        });

    </script>

</body>
</html>