<!DOCTYPE html>
<html lang="en">
<%- include('./helpers/head.ejs') %>
<body class="">
    <%- include('./helpers/navbar.ejs') %>

    <main class="container mt-5">
        <h1>Tipo de Aprendizaje</h1>
        <h2 class="display-1 text-uppercase"><%= resultado_final %></h2>
        <p class="fw-bold">Puntos: <%= puntos %></p>
        <hr>
    </main>    

    <section class="container">
        <h2 class="mb-3">Datos del Usuario</h2>
        <p><span class="text-uppercase fw-bold">Nombre: </span><%= name %></p>
        <p><span class="text-uppercase fw-bold">Correo: </span><%= email %></p>
    </section>

</body>
</html>